<div>
    <mat-drawer-container class='moviesCategories'>
        <mat-drawer mode='side' opened class='categoriesList'>
            <h3>Filtrar por Calificación</h3>
            <mat-checkbox (change)='toggleInclusive()'>
                ¿Califiación inclusiva?
            </mat-checkbox>
            <mat-checkbox (change)='toggleMaximumLimit()'>
                Buscar Calificacion por debajo
            </mat-checkbox>
            <star-rating #rating value='5'
                         checkedcolor='orange' 
                         uncheckedcolor='grey'
                         size='25px'
                         readonly='false'
                         (rate)='filterByQualification(rating.value)'></star-rating>
            <h3>filtrar por categorías</h3>
            <mat-selection-list #categoriesList class='categories'
                                [(ngModel)]='selectedOptions'
                                (ngModelChange)='buildMoviesList(selectedOptions)'>
                <mat-list-option *ngFor='let category of categories' [value]='category.name'>
                    {{category.name}}
                </mat-list-option>
            </mat-selection-list>
        </mat-drawer>
        <mat-drawer-content>
            <h2>Resultados</h2>
            <mat-grid-list cols='3' rowHeight='1:1.4' class='filteredMovies'>
                <mat-grid-tile role=listitem *ngFor='let movie of moviesList'>
                    <app-movie-data [movieTitle]=movie.title
                                    [imagePath]=movie.poster_path
                                    [movieOverview]=movie.overview
                                    [movieDate]=movie.release_date
                                    [movieRating]=movie.vote_average></app-movie-data>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-drawer-content>
    </mat-drawer-container>
</div>