.movieShower {
    min-width: 22vh;
    border-radius: 6vh;
}

.movieShower :hover {
    animation-name: changeSize;
    width: 21vw;
    animation-duration: 0.2s;
}

.moviePoster {
    width: 22vw;
    margin-bottom: 0%;
}

.titleHolder {
    max-width: 15vh;
}

.movieTitle {
    margin: 0;
    margin-bottom: 1vh;
    margin-left: 1.1vw;
}

.details {
    font-size: 1.7vh;
}

@keyframes changeSize {
    from {width: 22vw;}
    to {width: 21vw;}
}